<h3>Project description goes here</h3>
<p>And there should be some text about how awesome our project is</p>
<a href="<%= omniauth_authorize_path(resource_name, :twitter) %>">
<img src="/images/twitter.png" alt="">
</a>