<% unless @user.nil? %>
  <% if @user.achievements.empty? %>
    <h4>You currently have no achievements.</h4>
    <h4>Why don't you submit your activity?</h4>
  <% else %>
    <h4>Your achievements: </h4>
    <% @user.achievements.each do |a| %>
      <div class='achievement-container'>
        <img src="/images/achievements/<%= a.picture_url %>" alt="<%= a.name %>" style="width:112px;height:112px">
        <p style="width: 112px; text-align: center;margin: 3px 0"><%= a.name %></p>
      </div>
    <% end %>
  <% end %>
<% end %>