<% if @achievements.empty? %>
  <h2>You currently have no achievements</h2>
  <h3>Work harder, pussy</h3>
<% else %>
  <h1>Your achievements</h1>
  <% @achievements.each do |a| %>
    <div class='well'>
      <img src="/images/achievements/<%= a.picture_url %>" alt=""><br />
      <h4><%= a.name %></h4>
    </div>
  <% end %>
<% end %>