<% unless @user.nil? %>
  <div class='well'>
  <% current_activity_id = activity_of_user @user%>
  <% if current_activity_id.nil? %>
    <b>You are doing nothing. Why not submit some activity?</b>
  <% else %>
    <b>You are </b><%= render :partial => 'activities/activity_with_picture', :locals => {:activity_id => current_activity_id} %>
  <% end %>
  </div>
<% end %>