<div class='well' style="width: 350px;padding: 10px 0px 1px 10px;">

  <%= form_tag activities_submit_url, :method => 'post', :style => 'margin:0;padding:0' do %>
     <%= select_tag(:activity_id, options_for_select(activities), :id => 'select-activity') %>
     <span id="image-container"></span>
     <%= submit_tag 'Submit', :class => 'btn btn-primary btn-large', :style => 'margin-bottom: 10px;' %>
  <% end %>
</div>

<script type="text/javascript">
  $("#select-activity").change(function () {
    var name = $("#select-activity option:selected").text().replace(/ /g,"_");
    $("#image-container").empty();
    $("#image-container").append('<img style="margin: 0 3px 10px 3px;" src="/images/activities/' + name + '.png"></img>');
  }).trigger('change');
</script>