<p>
  Short project description will be here
</p>

<br />
<h2>Submit your activity right now!</h2>


<br />
<h2>Other people's activity:</h2>

<table>
<% @recents.each do |record| %>
  <tr>
    <td><%= User.find(record[:user_id]).name %></td>
    <td><%= Activity.find(record[:activity_id]).name %></td>
  </tr>
<% end %>
</table>
