<p>
  Short project description will be here
</p>

<br />
<h2>Submit your activity right now!</h2>


<br />
<h2>Other people's activity:</h2>

<table>
<% @recents.each do |record| %>
  <tr>
    <td><%= record[:user_id] %></td>
    <td><%= record[:activity_id] %></td>
  </tr>
<% end %>
</table>
